<form>

<p>nome</p>
<input type="text"  required  name="nome" >
<p>email</p>
<input required type="email"  name="email">
<p>telefone</p>
<input type="number" required name="telefone">
<p>senha</p>
<input type="number" required name="senha">
</form>
<p id="aviso"></p>
<button class="botao" onclick="cadastrar()">CADASTRAR</button>

