</head>
	<body>
		<header>
			<div class="caixa">
				<h1>ADALTOS BARBER</h1>
				<ul>
					<li><a href="/">DESLOGAR</a></li>
					<li><a href="#precos">PREÇOS</a></li>
				</ul>
				
				
			</div>
		</header>
		<h2>SEU CADASTRO</h2>

		<div class="move">
		<table>
			<thead>
				<tr>
					<th>nome</th>
					<th>email</th>
					<th>telefone</th>
					<th>dia e hora agendados</th>
					<th>CANCELAR AGENDAMENTO</th>
					<th>MUDAR DIA E HORA</th>
				</tr>
			</thead>

			<tbody>
				<td id="nome">{{nome}}</td>
				<td id="email">{{email}}</td>
				<td id="tel">{{telefone}}</td>
				<td id="data">{{data}}</td>
				<td class="cancela"><button onclick="deletar()">CANCELAR</button></td>
				<td><input type="datetime-local" id="novohorario"><button onclick="mudarhorario()">MUDAR</button></td>
			</tbody>
		</table>
		</div>
		<p id="conf"></p>
		<h2 class="ajeita">AGENDAR UM HORÁRIO</h2>
		<div class="agendar"> 
		<form action="">
			<input class="dt" type="datetime-local" id="escolha">
		</form>
		<button class="agenda" onclick="agendar()">AGENDAR HORARIO</button>
		<h2 class="titulo">PREÇOS</h2>
		</div>
		<div id="precos">
		<div class="cabelo"><p class="precocabelo">CABELO</p> <p class="money">25,00R$</p></div>
		<div class="barba"><p class="precobarba">BARBA</p> <p class="money">20,00R$</p></div>
		<div class="cabeloebarba"><p class="precocabelobarba">CABELO E BARBA</p> <p class="money">35,00R$</p></div>
		</div>
		



		
	</body>
